h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-family: $header;
  font-weight: $header_weight;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h2,
h3 {
  $font-family: $subheader_paragraph;
  $font-weight: $subheader_weight;
}

h4,
h5,
h6 {
  font-size: 1.3rem;
}

a,
p {
  font-size: 1rem;
  font-family: $subheader_paragraph;
  $font-weight: $paragraph_weight;
}