// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Center text inside container
@mixin center-text {
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	right: 0;
}