.about-title {
    // display: flex;
    // justify-content: center;
    text-align: center;
}

.about-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;

    a {
        // padding: .5rem;
        background-color: $pink;
        display: flex;
        justify-content: center;
        color: $green;
        // border-radius: 30%;
        text-decoration: none;
    }
}

@media (min-width: 50.87em) {
    .about-wrapper {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;

        img {
            max-width: 40%;
        }

        p {
            padding: 2rem;
            padding-top: 7rem;

        }
    }


    .about-nav {
        margin-top: 4rem;
    }
}