#post-15 {
    @include wrapper;

    p {
        display: flex;
        flex-direction: column;
        width: 30%;

        label {
            padding-bottom: 1rem;
        }

        button {
            margin-left: 0;
        }
    }
}

.page-id-15 {

    footer {
        background-color: $soft-pink;
    }
}