.page-id-15.theme-bon-vin.woocommerce-account  {

    .site-main {
        @include wrapper;

        p {
            display: flex;
            flex-direction: column;
            width: 30%;
    
            label {
                padding-bottom: 1rem;
            }
    
            button {
                margin-left: 0;
            }
        }
    }

    .site-footer {
        background-color: $soft-pink;
    }
}

.page-id-15.logged-in {

    .site-main {
        @include wrapper;

        p {
            width: 100%
        }
    }

    .woocommerce {
        @include wrapper;
        display: flex;
        flex-direction: column;

        .woocommerce-MyAccount-content {
            
            p {
                display: block;
                width: 100%;
            }
        }
    }

    @media (min-width: 50em) {

        .site-main {
            min-height: 60vh;
        }

        .woocommerce {
            flex-direction: row;
            gap: 2rem;
        }
    }

}