.page-id-26 {
  background-color: $creme;
  main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 64vh;
    .entry-content {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .site-footer {
    background-color: $soft-pink;
    margin-top: 20px;
    color: black;
    svg path {
      fill: black;
    }
  }
  .accord-button {
    background-color: $green;
    color: white;
  }
  .active,
  .accord-button:hover {
    background-color: $orange;
    color: black;
    cursor: pointer;
  }

  .active {
    margin-bottom: 0;
  }

  .careers-location {
    padding: 0 18px;
    display: block;
    height: 0;
    overflow: hidden;
    background-color: $creme;
  }

  .careers-location.show {
    height: auto;
    padding-bottom: 1rem;
    border: 2px solid $orange;
    border-top: none;
  }
  button {
    width: 100%;
    margin: 20px 0;
    @include button;
  }

  .careers-location a {
    background-color: $pink;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.25rem;
    font-size: 1.2rem;
    box-shadow: 3px 2px black;
    @include button;
  }

  .careers-location a:hover {
    background-color: $soft-pink;
  }

  .career-job {
    h3 {
      text-align: left;
      font-weight: 400;
      border-bottom: 1px solid black;
    }
  }
}
@media (min-width: 900px) {
  .page-id-26 {
    main .entry-content {
      max-width: 80%;
    }
    .accord-button {
      display: block;
      margin: 20px auto;
      max-width: 80%;
    }
    .accord-button.active {
      margin-bottom: 0;
    }
    .careers-location {
      max-width: 80%;
      display: block;
      margin: 0 auto;
    }
  }
}
