.page-id-13 {

  .site-main {
    min-height: 60vh;
  }

  thead {
    display: flex;
    justify-content: center;
    
    th {
      padding-left: 1rem;
    }
  }

  .woocommerce-message {
    background-color: $soft-pink;
    padding: .5rem;
    text-align: center;
  }

  .cart-empty.woocommerce-info {
    background-color: $soft-pink;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 2rem;
  }

  .return-to-shop {

    a {
      @include button;
      background-color: $pink;
      color: black;
      text-decoration: none;
      transition: background-color .5s ease-in;
    }

    a:hover {
      background-color: black;
      color: $pink;
    }
  }

  tbody {

    .woocommerce-cart-form__cart-item {
      position: relative;
      width: 10rem;
      margin: 0 auto;
      padding-bottom: 1rem;
      padding-top: 1rem;

      .product-remove {
        position: absolute;
        left: -5px;
        top: -5px;
      }
    }

    tr {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;

      .product-remove {

        a {
          background-color: $pink;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: black;
        }
      }
    }
  }

  .button.wp-element-button {
    margin-top: 1rem;
  }

  .cart_totals {

    max-width: 50%;
    margin: 0 auto;
    
    #shipping_method {
      margin: 0;
      padding-left: 0;
    }
    
    .woocommerce-shipping-destination {
      margin: 0;
    }
    
    li {
      list-style: none;
    }
    
    .checkout-button.button {
      margin: 0 auto;
      display: block;
      width: fit-content;
      background-color: $pink;
      color: black;
      box-shadow: 3px 2px black;
      text-decoration: none;
      @include button;
    }

    .wc-proceed-to-checkout {
      margin-top: 1rem;

      a {
        transition: background-color .5s ease-in;
      }

      a:hover {
        background-color: black;
        color: $pink;
      }
    }
  }

  .site-footer {

    background-color: $green;
    color: $creme;
    margin-top: 1.5rem;
    
    svg {

      path {
        fill: $creme;
      }
    }
  }

  @media (min-width: 43.75em) {

    table {
      @include wrapper;
    }

    tbody {

      .woocommerce-cart-form__cart-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
    }

    .cart_totals {

      table {

        tbody {

          tr {
            flex-direction: row;
            justify-content: space-around;
          }
        }
      }
    }
  }
}