.single-bon-vin-careers {
  .site-main {
    background-color: $creme;
    .content-wrapper {
      max-width: 90%;
      margin: 0 auto;
    }
    h1 {
      font-size: 2rem;
      text-align: center;
    }

    h2 {
      font-size: 1.5rem;
      margin-top: 2rem;
    }

    ul {
      margin: 0;
      padding-inline-start: 20px;
      li {
        font-size: 1rem;
      }
    }

    .single-job-apply {
      padding-bottom: 3rem;
      a {
        padding: 1rem 3rem;
        background-color: $pink;
        border-radius: 10px;
        color: black;
        text-decoration: none;
        font-weight: 500;
        @include button;
        box-shadow: 3px 2px black;
      }
    }

    @media (min-width: 500px) {
      h2 {
        text-align: left;
      }
    }

    @media (min-width: 780px) {
      .content-wrapper {
        max-width: 700px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .site-footer {
    background-color: $green;
    color: white;
    svg path {
      fill: white;
    }
  }
}
