.page-id-32 {
  background-color: $creme;
  .site-main {
    text-align: center;
  }
  .catering-form .button {
    background-color: $green;
    color: $creme;
  }
  .site-footer {
    background-color: $green;
    color: $creme;
  }
  h1 {
    text-shadow: 10px 5px 5px black;
  }
}

.page-id-32 .button {
  background-color: $pink;
  padding: 1rem 2rem;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  // padding-right: 2rem;
  // padding-left: 2rem;
  border-radius: 10px;
}
.gform_footer {
  justify-content: center;
}
.catering-form .ginput_container {
  border: solid $green 3px;
}

@media (min-width: 900px) {
  .catering-packages {
    text-align: left;
  }
}
