// Locations Page

.page-id-36 {
    background-color: $soft-pink;

    .footer-navigation {

        a {
            color: $green;
        }

        svg {
            path {
                fill: $green;
            }
        }
    }

    .site-footer {
        p {
            color: $green;
        }
    }
}

.location {
    position: relative;
}

.location-style {
    @include center-text;

    h2 {
        color: $creme;
        background-color: rgba(0, 0, 0, 0.5);
        width: fit-content;
        margin: 0 auto;
        padding: .5rem 2rem;
        border-radius: .5rem;
        margin-bottom: 2rem;
    }

    .location-button {
        @include button;
        background-color: $green;
    }

    .location-button:link,
    .location-button:visited {
        color: $creme;
    }

    .location-button:hover {
        background-color: $creme;
        color: $green;
    }

}

@media (min-width: 62.5em) {

    .location {
        max-width: 45%;
    }

    .locations-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;
    }
}

// Single Location Pages

.entry-header.locations {
    position: relative;

    .entry-title.locations {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .locations-menu-btn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include button;
        background-color: #fff;
    }
}

.location-description {
    max-width: 90%;
    margin: 0 auto;
}