.location {
    position: relative;
}

.location-style {
    @include center-text;

    h2 {
        color: $creme;
        background-color: rgba(0, 0, 0, 0.5);
        width: fit-content;
        margin: 0 auto;
        padding: .5rem 2rem;
        border-radius: .5rem;
        margin-bottom: 2rem;
    }

    .location-button {
        @include button;
        background-color: $green;
        text-decoration: none;
    }

    .location-button:link,
    .location-button:visited {
        color: $creme;
    }

    .location-button:hover {
        background-color: $creme;
        color: $green;
    }

}

.acf-map {
    width: 115%;
    margin-left: -8%;
}

@media (min-width: 62.5em) {

    .location {
        max-width: 45%;
    }

    .locations-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;
    }
}
