.page-id-21 {
    background-color: $creme;
}

.entry-header.menu {
    padding-bottom: 2rem;
}

.entry-title.menu {
    color: $pink;
    text-shadow: -4px 0px black;
    text-transform: uppercase;
}

.menu-nav {

    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-around;

    li {
        list-style: none;

        a {
            @include button;
            text-decoration: none;
            color: black;
            border: .1rem solid black;
            border-radius: 0;
            font-size: 1rem;
            box-shadow: 3px 2px $pink;
        }
    }
}

#menu-wine,
#menu-food {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .2rem solid $green;
    border-radius: 1rem;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;

    article {
        text-align: center;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .menu-item {

        h4 {
            font-size: 1.3rem;
        }

        p {
            font-size: 1rem;
        }
    }
}


@media (min-width: 53.125em) {

    .menu-style {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-items: center;

        .menu-item {
            display: flex;
            justify-content: space-around;
            align-items: center;

            h4,
            p {
                margin: 1rem;
            }
        }
    }
}