body {
  background-color: $creme;
}

.main-navigation {
  display: block;
  width: 100%;
  background-color: $creme;
  position: absolute;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 50vh;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          display: block;
          left: auto;
        }
      }

      a {
        width: 200px;
      }

      a li:hover,
      a li.focus {
        color: $pink;
      }

      li:hover > ul,
      li.focus > ul {
        left: auto;
      }
    }

    li {
      position: relative;
      width: 100%;
    }

		li {
			position: relative;
		}

		a {
			display: block;
			text-decoration: none;
		}
	}
    a {
      display: block;
      text-decoration: none;
      font-size: 1.5rem;
      color: black;
      text-align: center;
    }
  

  /* Small menu. */
  .menu-toggle,
  &.toggled ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $creme;
    border: 2px solid $orange;
    z-index: 500;
    svg {
      width: 2rem;
    }
  }

  .nav-menu {
    position: absolute;
    left: 20px;
    right: 20px;
    z-index: 900;
  }

  @media screen and (min-width: 37.5em) {
    .menu-toggle {
      display: none;
    }
    .nav-menu {
      position: relative;
    }

    ul {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: $subheader_weight;
      color: black;
      display: flex;
      gap: 1.5rem;
      justify-content: end;
      margin-top: 2rem;
      max-width: 95%;
      position: relative;
      height: auto;

      li {
        width: auto;
      }

      :hover {
        color: $orange;
      }

      a {
        color: black;
        font-size: 1rem;
      }
    }
  }

			:hover {
				color: $orange;
			}
  .comment-navigation,
  .posts-navigation,
  .post-navigation {
    .site-main & {
      margin: 0 0 1.5em;
    }

    .nav-links {
      display: flex;
    }

    .nav-previous {
      flex: 1 0 50%;
    }

    .nav-next {
      text-align: end;
      flex: 1 0 50%;
    }
  }
}
